 h1{
    color: #ffff;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
 }
 a{
    color: rgb(114, 153, 216);
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    margin:0 15px;
    transition:color 0.5s;
 }
    a:hover{
        color: rgb(247, 247, 248);
    }
    section{
        border-radius: 15px;
        padding:40px 20px;
        margin: 30px auto;
        width: 70%;
        background-color: rgba(0,0,0, 0.6);
        backdrop-filter: blur(8px);
        
    }
    section h2{
        color: yellow;
        text-align: center;
        margin-bottom: 20px;
    }
    section p{
        color: white;;
        font-size: 24px;
        line-height: 1.6;
    }
    hr{
        border: 1px solid rgb(32, 2, 7);
        margin: 10px 0;
    }
    #clouds img{
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
    body{
        background-image: url(back.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
        